label {
  font-size: 1.2em;
}

.oculto {
  display: none;
}

/* Admin-LTE personalizado */
.box-title {
  font-size: 1.5em !important;
  line-height: 1.5em !important;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .justificado {
    text-align: justify;
    text-justify: inter-word;
  }

  .centrado {
    margin: 0 auto;
    width: 100%;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .main-sidebar, .sidebar, .sidebar-menu, .sidebar a, .treeview-menu {
    background-color: white !important;
    color: #444444 !important;
    font-size: 16px;
  }

  .sidebar-menu .fa {
    margin-right: 8px !important;
  }

  .treeview-menu  a:hover, .treeview  a:hover {
    background-color: #eeeeee !important;
  }

  .sidebar p {
    font-size: 18px;
    font-weight: bold;
    color: #757575;
  }

  .sidebar hr {
    border-width: 1px;
  }

  .main-sidebar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  /*.box-contenido {
    box-shadow: 0px 4px 4px rgba(10, 110, 55, 0.25) !important;
  }*/